.gradle
/local.properties
.idea
.DS_Store
/app/build/generated
/app/build/intermediates
/app/build/tmp
/app/build/outputs/logs
/app/build/outputs/apk/*
!/app/build/outputs/apk/app-debug.apk
/captures
